<appSettings>
  <add key="ApplicationName" value="Anno" />
  <add key="LogRequests" value="true" />
  <add key="CommitToBlockchain" value="true" />
  <add key="NetworkUrl" value="http://localhost:37223" />
  <add key="ContractAddress" value="" />
  <add key="OwnerAddress" value="" />
  <add key="WalletName" value="" />
  <add key="WalletPassword" value="stratis" />
  <add key="WalletFolder" value="" />
  <add key="TempAddressesFolder" value="" />
</appSettings>
